parameters:

    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 5

    parallel:
        maximumNumberOfProcesses: 4

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: false

    scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php

    excludePaths:
        - %rootDir%/vendor

    ignoreErrors:
        - '#Undefined variable: \$this#'
